<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">サーバーについて</h3>
                </div>
            </div>
            <div class="row text-center">
              <p class="text-muted">TalkTalkTalk is a discord server which you can communicate with foreign people and improve your languages skills!
              <br>TalkTalkTalkでは、誰でも気軽に様々な国の人とコミュニュケーションを取り、語学力を育てることができます。 <br><br><br><br></p>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Q. Do I have to be able to speak English perfectly? And do I have to speak English?<br> 英語は完璧じゃなきゃダメですか？英語で話さないとダメですか？
                      <br> <br> A. No. Even the owner can't speak English very well. We can inprove own English skills together. If you can't speak English well, we'll welcome you kindly.
                      <br>And we are here to try to learn many languages. Of course you can speak yours or your studying one! And you can learn ours too.
                    <br>そんなことはありません。サーバーのオーナーもまだまだ英語勉強中です。一緒に少しずつ練習しましょう！
                    <br>私たちは様々な言語を少しずつ勉強しています。あなたも英語だけに限らず、様々な言語を勉強してみませんか？</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Q. How many members in your server? And where are you from? <br> 何人くらいメンバーがいますか？どこ出身の人たちですか？
                    <br><br> A. About 30 members now. We are from Japan, Turkey, Bangladesh, France, Brazil etc.
                   <br> 今は30人程度です。日本人はもちろん、トルコ、バングラデシュ、フランス、ブラジル人のメンバーがいます。</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Security</h4>
                    <p class="text-muted">Q. I'm afraid of if there are bad people. <br>怖い人がいないか不安なのですが。。
                    <br><br>A. We made new members can't send pictures, and we use a security bot which can save all chat logs if someone deleates messages.
                   <br>新入りのメンバーは写真を送ることができず、よくない画像を送られるのを防いでいます。また、常にチャットのログを保存するbotを使用し、悪質なメッセージが投稿された場合、たとえそれが削除されていても見つけることができます。</p>
                </div>
            </div>
        </div>
    </section>
